<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Shell Script File</key>
			<string>org-store-link.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>store-link</string>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
				<string>option-org-store-link=1</string>
			</array>
		</dict>
		<dict>
			<key>Shell Script File</key>
			<string>org-capture.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>capture</string>
			<key>Requirements</key>
			<array>
				<string>option-org-capture=1</string>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>org-store-link</string>
			<key>Option Label</key>
			<string>org-store-link</string>
			<key>Option Type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>org-capture</string>
			<key>Option Label</key>
			<string>org-capture</string>
			<key>Option Type</key>
			<string>boolean</string>
			<key>Option Default Value</key>
			<string>NO</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://github.com/xuchunyang/Org.popclipext/</string>
			<key>Name</key>
			<string>Chunyang Xu</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Invoke org-store-link and org-capture outside Emacs.app</string>
	<key>Extension Identifier</key>
	<string>me.xuchunyang.popclip.extension.say</string>
	<key>Extension Name</key>
	<string>Org</string>
	<key>Required Software Version</key>
	<integer>719</integer>
</dict>
</plist>
